<div class="food-items-container">
    <h2>Food Items</h2>
    <p *ngIf="response?.error">{{response.error}}</p>
    <button class="add-item-button" (click)="addAndEdit()">Add Item</button>

    <p *ngIf="response?.error">{{response.error}}</p>
    <div class="food-item" *ngFor="let foodItem of foodItems">
        <div class="food-item-info">
            <h2>{{ foodItem.itemId }}&nbsp;&nbsp;&nbsp; {{ foodItem.itemName }}</h2>
            <p class="price">₹{{ foodItem.itemPrice }}</p>
        </div>

        <div class="action-buttons">
            <button (click)="edit(foodItem.itemId)">Edit</button>
        </div>
    </div>
</div>