<div class="order-container">
    <h2>User Orders</h2>
    <div *ngFor="let order of filteredOrders" class="order-card">
        <div class="order-header">
            <h3>Order ID: {{ order?.orderId }}</h3>
            <span class="order-date">{{ order?.date | date: 'medium' }}</span>
        </div>
        <ul class="order-items">
            <li *ngFor="let item of order?.orderDetails" class="order-item">
                <span class="item-name">{{ item.foodItem.itemName }}</span>
                <span class="item-quantity">Quantity: {{ item.quantity }}</span>
                <span class="item-price">Price: ₹{{ item.totalPrice.toFixed(2) }}</span>
            </li>
        </ul>
        <div class="order-total">
            <strong>Total Price: ₹{{ order?.totalPrice }}</strong>
        </div>
    </div>
</div>