<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/application-context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<description></description>
		<display-name>DisplayEmpoloyee</display-name>
		<servlet-name>DisplayEmployee</servlet-name>
		<servlet-class>
			com.codeinsight.exercise.hibernateRelationships.servlets.DisplayEmployee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayEmployee</servlet-name>
		<url-pattern>/employee/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddEmployee</display-name>
		<servlet-name>AddEmployee</servlet-name>
		<servlet-class>
			com.codeinsight.exercise.hibernateRelationships.servlets.AddEmployee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddEmployee</servlet-name>
		<url-pattern>/employee/add-new</url-pattern>
	</servlet-mapping>
</web-app>