<div class="order-container">
    <h2>Your Orders</h2>
    <button class="add-order-button" (click)="placeOrder()">Add Order</button>

    <div *ngFor="let order of orders" class="order-card">
        <button class="edit-button" (click)="editOrder(order)">Edit</button>

        <div class="order-header">
            <h3>Order ID: {{ order?.orderId }}</h3>
            <span class="order-date">{{ order?.orderDate | date: 'medium' }}</span>
        </div>
        <ul class="order-items">
            <li *ngFor="let item of order?.orderDetails" class="order-item">
                <span class="item-name">{{ item.foodItem.itemName }}</span>
                <span class="item-quantity">Quantity: {{ item.quantity }}</span>
                <span class="item-price">Price: ₹{{ item.totalPrice.toFixed(2) }}</span>
            </li>
        </ul>
        <div class="order-total">
            <strong>Total Price: ₹{{ order?.totalPrice}}</strong>
        </div>
    </div>
</div>