<nav>
    <ul>
        <li *ngIf="isUser">
            <a routerLink="/menu" [ngClass]="{'active': isActive('/menu')}">Menu</a>
        </li>
        <li *ngIf="isUser">
            <a routerLink="/orders" [ngClass]="{'active': isActive('/orders')}">Orders</a>
        </li>
        <li *ngIf="isAdmin">
            <a routerLink="/foodItems" [ngClass]="{'active': isActive('/foodItems')}">Food Items</a>
        </li>
        <li *ngIf="isAdmin">
            <a routerLink="/users" [ngClass]="{'active': isActive('/users')}">Users</a>
        </li>
        <li *ngIf="isAdmin">
            <a routerLink="/menu" [ngClass]="{'active': isActive('/menu')}">Menu</a>
        </li>
        <li *ngIf="isAdmin">
            <a routerLink="/orders" [ngClass]="{'active': isActive('/orders')}">Orders</a>
        </li>
        <li *ngIf="!isAuthenticated">
            <a routerLink="/login" [ngClass]="{'active': isActive('/login')}">Snackology</a>
        </li>
        <li *ngIf="isAdmin">
            <a routerLink="/all-orders" [ngClass]="{'active': isActive('/all-orders')}">All Orders</a>
        </li>
        <li *ngIf="isAuthenticated">
            <a routerLink="" (click)="logout()">Logout</a>
        </li>

    </ul>
</nav>