<form [formGroup]="studentForm" (ngSubmit)="formSubmit()">
    <label>Name: </label>
    <input type=" text" placeholder="Enter Name" formControlName="name"><br>
    <span *ngIf="name?.hasError('noAlphabet') && isSubmitted">Name should contains alphabets only</span>
    <span *ngIf="name?.hasError('required') && isSubmitted"><br>Name should not be empty</span>
    <br><br>

    <label>Username: </label>
    <input type="text" placeholder="Enter Username" formControlName="username"><br>
    <span *ngIf="username?.hasError('existingUsername') && isSubmitted">Username already exists</span>
    <span *ngIf="username?.hasError('required') && isSubmitted"><br>Username should not be empty</span>

    <br><br>

    <label>Select Gender: </label>
    <input id="male" type="radio" formControlName="gender" value="male" name="gender">
    <label>male</label>
    <input id="female" type="radio" formControlName="gender" value="female" name="gender">
    <label>female</label><br>
    <span *ngIf="gender?.hasError('required') && isSubmitted">Please select gender</span>
    <br><br>


    <label>Select Age: </label>
    <select id="age" name="age" formControlName="age">
        <option *ngFor="let item of [].constructor(100); let index = index" [value]="index+1">{{index+1}}</option>
    </select><br>
    <span *ngIf="age.hasError('ageRange') && isSubmitted">Enter age between range 20 to 30</span>
    <br><br>

    <label>Email: </label>
    <input type="email" placeholder="Enter email with domainn @mydemo.com" formControlName="email"><br>
    <span *ngIf="email?.hasError('invalidDomain') && isSubmitted">Invalid Domain</span>
    <span *ngIf="email?.hasError('email') && isSubmitted"><br>Invalid email</span>
    <br><br>

    <label>Address: </label>
    <input type="text" placeholder="Enter address" formControlName="address"><br>
    <span *ngIf="address?.hasError('minError') && isSubmitted">Enter address of more than 10
        characters</span>
    <span *ngIf="address?.hasError('maxError') && isSubmitted">Enter address of less than 20
        characters</span>
    <span *ngIf="address?.hasError('required') && isSubmitted"><br>Address cannot be empty</span>

    <br><br>


    <label>Subjects: </label><br><br>
    <div formArrayName="subjects">
        <div *ngFor="let subject of subjects.controls; let index = index">
            <div [formGroupName]="index">
                <label>Subject Code: </label>
                <select name="subjectCode" id="subjectCode" formControlName="subjectcode">
                    <option *ngFor="let customSubject of allSubjects | keyvalue" [value]="customSubject.key">
                        {{customSubject.key}}
                    </option>
                </select>
                &nbsp;&nbsp;
                <input type="checkbox" formControlName="optional">
                <label>Elective</label>
                &nbsp;&nbsp;
                <label>Subject: </label>
                {{allSubjects[subject.value.subjectcode]}}
                &nbsp;&nbsp;
                <button type="button" (click)="removeSubject(index)">Remove</button><br>
                <span *ngIf="subject.get('subjectcode')?.hasError('repeatedSubjects')">Enter unique
                    subject</span>
                <span *ngIf="subject.get('subjectcode')?.hasError('required') && isSubmitted">subject cannot be
                    empty</span><br><br>
            </div>
        </div>
        <button type="button" (click)="addSubject()">Add Subject</button>
        <span *ngIf="studentForm.controls['subjects'].value.length < 5 && isSubmitted">Please enter minimum
            5 subjects</span>
    </div>
    <br><br>
    <button type="submit">Submit</button>&nbsp;&nbsp;
    <button type="button" (click)="reset()">Reset</button>
</form>
<p *ngIf="studentForm.valid && isSubmitted">
    <label>Name: </label>
    {{studentForm.controls['name'].value}}<br>
    <label>Username: </label>
    {{studentForm.controls["username"].value}}<br>
    <label>Gender: </label>
    {{studentForm.controls["gender"].value}}<br>
    <label>Address: </label>
    {{studentForm.controls["address"].value}}<br>
    <label>Age: </label>
    {{studentForm.controls["age"].value}}<br>
    <label>Email: </label>
    {{studentForm.controls["email"].value}}<br>
    <label>Subject Code </label>&nbsp;&nbsp;
    <label>Elective: </label><br>
    <span style="color:black" *ngFor="let subject of studentForm.controls['subjects'].value">
        {{subject.subjectcode}}&nbsp;&nbsp;&nbsp;<span *ngIf="subject.Elective != null">True</span>
        <span *ngIf="subject.Elective == null">false</span><br>
    </span>
</p>