<form [formGroup]="foodItemForm" (ngSubmit)="addItem()" class="food-item-form">
    <h2>{{ isEditing ? 'Edit Food Item' : 'Add Food Item' }}</h2>
    <!-- <button type="button" class="close-popup-button" (click)="close()">Close</button> -->
    <p *ngIf="response?.error" class="error-message">{{response.error}}</p>

    <div class="form-group">
        <label for="foodItem">Food Item:</label>
        <input type="text" id="foodItem" placeholder="{{ isEditing ? 'Edit food item' : 'Add food item' }}"
            formControlName="itemName" required>
        <div *ngIf="foodItemForm.get('itemName')?.invalid && (foodItemForm.get('itemName')?.touched || foodItemForm.get('itemName')?.dirty)"
            class="error-message">
            <div *ngIf="foodItemForm.get('itemName')?.hasError('required')">Food item name is required.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="itemPrice">Item Price:</label>
        <input type="number" id="itemPrice" placeholder="{{ isEditing ? 'Edit price' : 'Enter price' }}"
            formControlName="itemPrice" required>
        <div *ngIf="foodItemForm.get('itemPrice')?.invalid && (foodItemForm.get('itemPrice')?.touched || foodItemForm.get('itemPrice')?.dirty)"
            class="error-message">
            <div *ngIf="foodItemForm.get('itemPrice')?.hasError('required')">Item price is required.</div>
        </div>
    </div>
    <div class="buttons">
        <div class="action_btn">
            <button type="submit" class="submit">{{ isEditing ? 'Update Item' : 'Add
                Item' }}</button>
            <button type="button" class="close" (click)="close()">Close</button>
        </div>
    </div>
</form>