<div class="food-items-container">
    <h2>Food Items</h2>
    <p *ngIf="response?.error">{{response.error}}</p>
    <div class="food-item" *ngFor="let foodItem of foodItems">
        <div class="food-item-info">
            <h1>{{ foodItem.itemId }}&nbsp;&nbsp;&nbsp; {{ foodItem.itemName }}</h1>
            <p class="price">₹{{ foodItem.itemPrice }}</p>
        </div>
        <div class="action-buttons">
            <button (click)="addItem(foodItem.itemId)">Add</button>
            <button (click)="removeItem(foodItem.itemId)">Remove</button>
        </div>
    </div>
    <div class="order-summary" *ngIf="userOrder.length > 0">
        <h2>Order Summary</h2>
        <div *ngFor="let order of userOrder">
            <p>Item Name: {{order.itemName}} | Quantity: {{ order.quantity }}</p>
        </div>
        <button class="place-order" (click)="placeOrder()">
            {{ isEditing ? 'Update Order' : 'Place Order' }}
        </button>
    </div>
</div>