<div class="user-list-container">
    <h2>User List</h2>
    <p *ngIf="response?.error">{{response.error}}</p>
    <button routerLink="add" class="add-user-button">Add User</button>

    <div class="user-card" *ngFor="let user of users">
        <div class="button-container">
            <button class="edit-button" (click)="editUser(user.userId)">Edit</button>
            <button class="delete-button" (click)="deleteUser(user.userId)">Delete</button>
        </div>
        <h3>{{ user.name }}</h3>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Role:</strong> {{ user.role }}</p>
        <p><strong>Phone Number:</strong> {{ user.phoneNumber }}</p>
    </div>
</div>